
/*.grid-container {
  display: grid;
  gap: 2px;
  grid-template-columns: auto auto auto auto;
  padding: 30px;
  background: rgb(200, 225, 200);
  justify-content: center;
  border: 8px solid green;
}
.header h4{
  padding: 100px;
  justify-content: center;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.footer {
  padding: 20px;
  text-align: center;
  border: 8px solid green;
}
*/

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer right';
  gap: 10px;
  background-color:green;
  padding: 10px;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
  